@charset "UTF-8"; /*
// - - - - - - - - - - - - - - - - - - - - - - -
// W F D Y N A M I C
// - - - - - - - - - - - - - - - - - - - - - - -
// deploy > v.00bond
// a wizardfly
// www.wizrdfly.rf.gd
// - - - - - - - - - - - - - - - - - - - - - - -
// #wf-202212091959
// #wf-202212092010
// - - - - - - - - - - - - - - - - - - - - - - -
*/
/* -- reset -- */
html, body, div, section, ul, li, a, p, strong, em, h1, h2, h3, h4, h5, h6, nav, img, header, footer, form, fieldset, label, input, i, figure, iframe, hr {
    border: 0;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

/* -- config -- */
body {
    background: #FFFFFF;
}

.left {
    float: left;
}

.right {
    float: right;
}

.grid {
    width: 95%;
    max-width: 1180px;
    min-width: 280px;
    margin: 0 auto;
}

.section {
    width: 100%;
    float: left;
}

.afterClear:after {
    content: '';
    clear: both;
    display: block;
}

/* -- bar top -- */
.section.barTop {
    padding: 5px 0;
    background: #b1b6e1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 13;
}

.section.barTop .grid {
}

.section.barTop .left {
}

.section.barTop .left ul {
}

.section.barTop .left ul li {
}

.section.barTop .left ul li a {
    line-height: 25px;
}

.section.barTop .left {
}

.section.barTop .right ul {
}

.section.barTop .right ul li {
    display: inline-block;
}

.section.barTop .right ul li a {
    line-height: 25px;
    display: block;
}

.section.barTop .right ul li a img {
    width: 20px;
    display: inline-block;
    vertical-align: middle;
}

/* -- header -- */
.section.header {
    padding: 20px 0;
    background: #1c1c1c;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.section.header .grid {
}

.section.header .left {
}

.section.header .left .brand {
    color: #CDDC39;
    display: block;
}

.section.header .right {
}

.section.header .right .menu {
}

.section.header .right .menu ul {
}

.section.header .right .menu ul li {
    display: inline-block;
    padding: 0 5px 0;
}

.section.header .right .menu ul li a {
    color: #CDDC39;
}

/* -- box dynamic -- */
.wfDynamic {
    padding: 59px 0 0;
}

/* -- content -- */
.section.content {
    padding: 20px 0;
}

.section.content .grid {
}

/* -- block -- */
.section.block {
    padding: 0 0 30px;
    margin: 0 0 20px;
}

.section.block .grid {
}

.section.block h2 {
    margin: 0 0 20px;
    display: block;
}

.section.block p {
    display: block;
}

/* -- box slider -- */
.boxSld {
}

.boxSld .slick-prev {
    z-index: 5;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #FF0000;
    text-align: center;
    border-radius: 50%;
    left: 20px;
}

.boxSld .slick-prev:before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-top: 10px solid transparent;
    border-right: 15px solid #ffffff;
    border-bottom: 10px solid transparent;
    border-left: 0;
}

.boxSld .slick-next {
    z-index: 5;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #FF0000;
    text-align: center;
    border-radius: 50%;
    right: 20px;
}

.boxSld .slick-next:before {
    content: '';
    width: 0;
    height: 0;
    display: block;
    border-top: 10px solid transparent;
    border-right: 0;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #ffffff;
}

.boxSld .slick-dots li button:before {
    font-family: 'Arial';
    font-size: 35px;
    line-height: 35px;
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 35px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.boxSld .slick-dots li.slick-active button:before {
    opacity: .75;
    color: black;
}

/* -- footer -- */
.section.footer {
    padding: 20px 0;
}

.section.footer .grid {
}
